.fullScreen {
    width: 100%;
    height: 100%;
    background-image: url("https://bizweb.dktcdn.net/100/270/285/themes/880332/assets/bg-special3.png?1664347779027&fbclid=IwAR2QZYNNSBl1ati-BLVzVw3RCgNJoClYrt-e-9NRi7MbYREvJFbRH7scXds");
    background-size: 1500px;
    background-repeat: repeat;

    background-color: #9ed5a2;
}