.reset-password-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center
}
.reset-password{
    width: 400px;
    background-color:white;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    height: 550px;
    flex-direction: column;
    padding: 0 63px ;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06), 0 8px 15px rgba(0, 0, 0, 0.12);
   
}

.reset-password h1{
    color: rgb(11, 162, 11);
    margin: 20px 0;
}

.reset-password > div{
    line-height:85px
}

.reset-password > div  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9px 15px !important;
    width: 100%;
}

